input[type="text"] {
    margin: 10px;
    height: 5vh;
    width: 60%;
    border: 2px solid white;
    border-radius: 5px;
    padding-left: 1%;
    font-size: larger;
    font-size: larger;
}

input[type="text"]::placeholder {
    color: white;
    padding: 5%;
    font-size: larger;


}

input:focus {
    outline: none;
}

#search-box {
    justify-content: center;
    align-items: center;
}